<template>
  <div class="hello">
    <main class="body">
      <div class="body--img">
        <figure class="body--img-figure">
          <img src=".././assets/logo.png" class="body--img-figure-img">
        </figure>
      </div>
      <div class="body--textura">

      </div>
    </main>
  </div>
</template>

<script>
export default {
  name: 'Empresa',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App'
    };
  },
  mounted: function() {
    console.log(`Component mounted. empresa`);
  },
  methods: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.body {
  margin-top: 60px;
  &--img {
    height: 91.5vh;
    background-size: contain;
    background: url('.././assets/panel.png') no-repeat fixed 60% 90%;
    animation-name: slider;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
    &-figure {
      width: 40vw;
      height: 70%;
      margin-left: 55%;
      &-img {
        opacity: 0.3;
        margin-top: 50px;
        z-index: 5;
      }
    }
  }
  &--textura {
    height: 69.4vh;
    background: url('.././assets/textura.jpg') no-repeat center;
    background-size: cover;
    &::before {
      content: '';
      display: flex;
      width: 100%;
      height: 5px;
      background-color: var(--primary-color);
      align-self: flex-start;
    }
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    @media screen and (max-width: 450px) {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: auto;
    }
  }
  @keyframes slider {
    from {
      background: url('.././assets/panel2.png') no-repeat fixed center;
    }
    to {
      background: url('.././assets/panel.png') no-repeat fixed center;
    }
  }
}
</style>
