<template>
  <div class="hello">
    <main class="body">
      <div class="body--img">
        <figure class="body--img-figure">
          <img src=".././assets/logo.png" class="body--img-figure-img">
        </figure>
      </div>
      <div class="body--textura">
        <button v-on:click="categories('ser')" class="body--textura-actions">SER</button>
        <button v-on:click="categories('unidad')" class="body--textura-actions">UNIDAD EMPRENDIMIENTO</button>
        <button v-on:click="categories('victimas')" class="body--textura-actions">VICTIMAS</button>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  },
  mounted: function() {
    console.log(`Component mounted.`);
  },
  methods: {
    categories(cat) {
      if (cat === "ser") {
        this.$router.push("Ser");
      } else if (cat === "unidad") {
        this.$router.push("Unidad");
      } else if (cat === "victimas") {
        this.$router.push("Victimas");
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.body {
  margin-top: 60px;
  &--img {
    height: 91.5vh;
    background-size: contain;
    background: url(".././assets/panel.png") no-repeat fixed 60% 90%;
    animation-name: slider;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
    &-figure {
      width: 40vw;
      height: 70%;
      margin-left: 55%;
      &-img {
        opacity: 0.3;
        margin-top: 50px;
        z-index: 5;
      }
    }
  }
  &--textura {
    height: 69.4vh;
    background: url(".././assets/textura.jpg") no-repeat center;
    background-size: cover;
    &::before {
      content: "";
      display: flex;
      width: 100%;
      height: 5px;
      background-color: var(--primary-color);
      align-self: flex-start;
    }
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    &-actions:hover {
      cursor: pointer;
    }
    &-actions {
      box-shadow: 0 2px 2px 0 var(--black-color);
      background: var(--secondary-color);
      background: linear-gradient(
        120deg,
        var(--secondary-color) 0%,
        var(--secondary-color) 30%,
        var(--gradien-color) 30%,
        var(--gradien-color) 30%,
        var(--gradien-color) 42%,
        var(--secondary-color) 42%,
        var(--secondary-color) 50%,
        var(--gradien-color) 50%,
        var(--gradien-color) 56%,
        var(--secondary-color) 56%
      );
      color: var(--text-color);
      border-radius: 20px;
      height: 20vh;
      width: 30vw;
      font-size: 2em;
      @media screen and (max-width: 959px) {
        width: 25vw;
        height: 10vh;
        font-size: 1em;
      }
    }
    &-actions:focus {
      outline: none;
    }
    @media screen and (max-width: 450px) {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: auto;
      &-actions {
        flex-basis: 80%;
        margin-left: 0;
      }
    }
  }
}
@keyframes slider {
  from {
    background: url(".././assets/panel2.png") no-repeat fixed center;
  }
  to {
    background: url(".././assets/panel.png") no-repeat fixed center;
  }
}
</style>
