<template>
  <div id="app">
    <header class="header">
      <h2 class="header--title">Emprendimiento y empresarismo CTA</h2>
      <ul class="header--actions">
        <li class="header--actions-list"><a v-on:click="menu('inicio')">Inicio</a></li>
        <li class="header--actions-list"><a v-on:click="menu('empresas')">Empresas</a></li>
        <li class="header--actions-list"><a v-on:click="menu('acerca')">Acerca de</a></li>
        <li class="header--actions-list"><a v-on:click="menu('iniciar')">Iniciar sesion</a></li>
      </ul>
      <div class="header--menu" v-on:click="menu=!menu" id="menu">
        <div class="header--menu-list" ></div>
      </div>
      <ul class="header--menus" id="list">
        <li class="header--menus-list"><a href="#">Inicio</a></li>
        <li class="header--menus-list"><a href="#">Empresas</a></li>
        <li class="header--menus-list"><a href="#">Acerca de</a></li>
        <li class="header--menus-list"><a href="#">Iniciar sesion</a></li>
      </ul>
    </header>
    <router-view/>
    <footer class="footer">
      <article class="footer--article">
        <p class="footer-article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad cupiditate excepturi id, nam nemo odio qui quisquam repellendus sit. Asperiores dolorum inventore molestiae, unde vero voluptates. Aliquid distinctio nesciunt repudiandae voluptate. Aspernatur eum illo nisi nobis provident quos vel! Commodi, eligendi error explicabo numquam possimus quia quisquam vero. Possimus.</p>
      </article>
      <figure class="footer--icontec">
        <div class="footer--icontec--imagen">
          <img src="./assets/icontec.png" class="footer--icontec--imagen-img"/>
        </div>
        <p class="footer--icontec-description">Certificado No.
          <span>2313323112</span></p>
      </figure>
      <figure class="footer--certificado">
        <div class="footer--certificado--imagen">
          <img src="./assets/certificado.png" class="footer--certificado--imagen-img"/>
        </div>
        <p class="footer--certificado-description">Certificado No.
          <span>2313323112</span></p>
      </figure>
    </footer>
  </div>
</template>

<script>
export default {
  name: "App",
  mounted: function() {
    const menu = document.getElementById("menu");
    const list = document.querySelector(`#list`);
    // const visite = document.querySelectorAll(".header--actions-list");
    menu.addEventListener("click", () => {
      list.classList.toggle("hola");
    });
    // for (let list of visite) {
    //   list.addEventListener("click", event => {
    //     let tmp = [...visite];
    //     // console.log(tmp);
    //   });
    // }
  },
  methods: {
    menu(ruta) {
      if (ruta === "inicio") {
        this.$router.push("/");
      } else if (ruta === "empresas") {
        this.$router.push("Empresa");
      } else if (ruta === "acerca") {
        this.$router.push("Acerca");
      }
    }
  }
};
</script>

<style lang="scss">
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
}
:root {
  --text-color: #ffffff;
  --font-family-sans-serif: "Raleway", sans-serif;
  --font-size-base: 0.9rem;
  --line-height-base: 1.6;
  --secondary-color: rgba(113, 113, 113, 1);
  --primary-color: rgba(252, 125, 50, 1);
  --black-color: rgba(0, 0, 0, 1);
  --secondary-hover-color: rgb(75, 75, 75);
  --gradien-color: rgba(70, 70, 70, 0.7);
}
.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-color);
  background-color: var(--secondary-color);
  box-shadow: 0 5px 10px 0 var(--black-color);
  z-index: 10;

  @media screen and (max-width: 959px) {
    height: 10vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    &--menu {
      grid-row: 1 / span 1;
      z-index: 20;
    }
    &--menus {
      grid-column: 1 / span 6;
    }
  }
  &--menu {
    z-index: 25;
    width: 3rem;
    height: 100%;
    align-self: flex-start;
    margin-top: 17px;
    display: none;
    grid-column: 6;
    @media screen and (max-width: 959px) {
      display: flex;
    }
    &-list {
      height: 5px;
      width: 40px;
      background-color: white;
      box-shadow: 0 10px 0 0 white, 0 20px 0 0 white;
      border-radius: 2px;
    }
    &-list:hover {
      cursor: pointer;
    }
  }
  .hola {
    transform: translateX(0);
  }
  &--menus {
    display: none;
    background-color: var(--secondary-color);
    width: 100vw;
    @media screen and (max-width: 959px) {
      transition: all 0.6s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 2;
      transform: translateX(-100vw);
    }
    &-list {
      list-style: none;
      padding: 3%;
    }
    &-list > a {
      color: var(--text-color);
    }
  }
  &--title {
    margin-left: 3%;
    @media screen and (max-width: 959px) {
      margin: 14px 0;
      grid-row: 1 / 2;
      grid-column: 1 / span 2;
      font-size: 1.3em;
    }
    @media screen and(max-width: 450px) {
      margin: 0;
    }
  }
  &--actions {
    display: flex;
    margin: 3px 3% 3px 3px;
    @media screen and (max-width: 959px) {
      display: none;
    }
    &-list > a {
      margin: 0 5px;
      color: var(--text-color);
      font-size: 1.5em;
      display: block;
      line-height: 9vh;
      padding: 0 5px;
      transition: all 0.3s;
    }
    &-list {
      list-style: none;
    }
    &-list:hover {
      cursor: pointer;
    }
    &-list:not(.visited) > a:hover {
      color: var(--primary-color);
      border-top: 3px solid var(--primary-color);
    }
  }
}
.footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 21vh;
  background-color: var(--primary-color);
  @media screen and (max-width: 959px) {
    grid-template-rows: repeat(2, 1fr);
    height: auto;
  }
  &--article {
    grid-column: 1 / span 2;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    @media screen and (max-width: 959px) {
      grid-column: 1 / span 6;
    }
  }
  &--icontec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 5 / span 1;
    margin: 0;
    &--imagen {
      width: auto;
      &-img {
        width: 10vh;
        object-fit: cover;
      }
    }
    @media screen and (max-width: 959px) {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
    }
    &-description {
      margin: 0;
      color: var(--text-color);
      & > span {
        display: block;
        text-align: center;
      }
    }
  }
  &--certificado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    grid-column: 6 / span 1;
    &--imagen {
      width: auto;
      &-img {
        width: 10vh;
        object-fit: cover;
      }
    }
    @media screen and (max-width: 959px) {
      grid-row: 2 / span 1;
      grid-column: 5 / span 1;
      &-img {
        display: flex;
      }
    }
    &-description {
      margin: 0;
      color: var(--text-color);
      & > span {
        display: block;
        text-align: center;
      }
    }
  }
}
.visited > a {
  color: var(--primary-color);
  border-top: 3px solid var(--primary-color);
}
</style>
